@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: #dec0ff;
    font-family: "Nunito", sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: underline wavy #c28cff 1px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a.button {
    background-color: rgb(96, 96, 255);
    border: 10px rgb(96, 96, 255) solid;
    border-radius: 12px;
    color: black;
    text-decoration: none;
}

.head {
    background-color: #c28cff;
}

.title {
    font-weight: 1000;
}